@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#home{
    background: url(../img/bacground-fon.png) 65.31% 52.8% / cover no-repeat;
    transform: translateZ(0px);
    min-height: 100vh;
}

body._lock {
    overflow: hidden;
}

.header-menu {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.header-menu-div-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menu_icon {
    display: block;
    z-index: 5;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 18px;
}

.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff
}

.menu a:hover {
    font-weight: bold;
    color: #f42841
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px 0px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: #262e3b;
}

.menu._active {
    left: 0;
}

.menu a {
    margin-top: 30px;
    font-size: 24px;
}

.logo a {
    text-decoration: none;
}

.logo .logo-text {
    color: #fff;
}

.logo .logo-text-r {
    color: #f42841;
}








.big-text-under-logo {
    height: 211px;
    padding: 155px 15px 155px 15px;
}

.big-text-under-logo h1{
    font-family: 'Playfair Display', serif;
    color: var(--color-font-for-headings);
    font-size: 62px;
    font-weight: 900;
    line-height: 75px;
}

.big-text-under-logo p{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-darak-gray);
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 50px;
}
.big-text-under-logo span {
    color: var(--color-red);
    border-right: 2px solid white;
    padding-right: 5px;
}


.menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}


.menu_icon span,
.menu_icon::before,
.menu_icon::after{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.menu_icon::before,
.menu_icon::after{
    content: "";
}
.menu_icon::before{
    top: 0;
}

.menu_icon::after{
    bottom: 0;
}

.menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}



@media(min-width:760px) {
    .logo {
        font-size: 39px;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo h1{
        font-size: 88px;
        font-weight: 900;
        line-height: 106px;
    }

    .big-text-under-logo {
        width: 743px;
        height: 300px;
        padding: 192px 32px 190px 32px;
    }

    .big-text-under-logo p {
        margin-top: -35px;
    }
    
}

@media(min-width:1200px) {
    .social-networks-fa-burger {
        display: none;
    }

    .phone-number {
        display: none;
    }

    .logo {
        font-size: 32px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo h1{
        font-size: 115px;
        font-weight: 900;
        line-height: 140px;
    }

    .big-text-under-logo {
        width: 743px;
        height: 300px;
        padding: 330px 32px 255px 32px;
    }

    .big-text-under-logo p {
        margin-top: -35px;
    }

    .menu_icon {
        display: none;  
    }

    .menu {
        position:relative;
        display: flex;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        margin-top: -30px;
    }
    
    .menu a {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin: 15px;
    }
}

