@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); #home {
    background: url(../img/bacground-fon.png) 65.31% 52.8% / cover no-repeat;
    transform: translateZ(0px);
    min-height: 100vh;
    position: static;
}

body._lock {
    overflow: hidden;
}

.header-menu {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.header-menu-div-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.menu_icon {
    display: block;
    z-index: 5;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff
}

.menu a:hover {
    font-weight: bold;
    color: #f42841
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px 0px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: #262e3b;
}

.menu._active {
    left: 0;
}

.menu a {
    margin-top: 30px;
    font-size: 24px;
}

.logo a {
    text-decoration: none;
}

.logo .logo-text {
    color: #fff;
    font-size: 42px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.logo .logo-text-r {
    color: #f42841;
    font-size: 42px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.big-text-under-logo {
    height: 211px;
    padding: 155px 15px 155px 15px;
}

.big-text-under-logo h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 75px;
}

.big-text-under-logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 50px;
    color: #fff;
}

.menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}

.menu_icon span, .menu_icon::before, .menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.menu_icon::before, .menu_icon::after {
    content: "";
}

.menu_icon::before {
    top: 0;
}

.menu_icon::after {
    bottom: 0;
}

.menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

@media(min-width: 1100px) {
    .logo {
        font-size: 42px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo .big-text-header {
        font-family: 'Work Sans', sans-serif;
        font-size: 120px;
        font-weight: 900;
        line-height: 140px;
        color: #FFF;
    }

    .big-text-under-logo .logo-text-r {
        font-size: 120px;
        color: #f42841;
    }

    .big-text-under-logo {
        width: 743px;
        height: 300px;
        padding: 150px 15px 150px 150px;
    }

    .big-text-under-logo p {
        margin-top: -35px;
    }

    .menu_icon {
        display: none;
    }

    .menu {
        position: relative;
        display: flex;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        margin-top: -30px;
    }

    .menu a {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin: 15px;
    }
}

@media(max-width: 1100px) {
    .logo {
        font-family: 'Work Sans', sans-serif;
        font-size: 39px;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo .big-text-header {
        font-family: 'Work Sans', sans-serif;
        font-size: 70px;
        font-weight: 900;
        line-height: 106px;
        color: #fff;
    }

    .big-text-under-logo .logo-text-r {
        font-family: 'Work Sans', sans-serif;
        color: #f42841;
        width: 743px;
        height: 300px;
        font-size: 70px;
    }
}

@media(max-width: 760px) {
    .logo {
        font-family: 'Work Sans', sans-serif;
        font-size: 39px;
        font-weight: 900;
        line-height: 47px;
    }

    .big-text-under-logo .big-text-header {
        font-family: 'Work Sans', sans-serif;
        font-size: 70px;
        font-weight: 900;
        line-height: 106px;
        color: #fff;
    }

    .big-text-under-logo .logo-text-r {
        font-family: 'Work Sans', sans-serif;
        color: #f42841;
        width: 743px;
        height: 300px;
        font-size: 70px;
    }
}

@media(max-width: 479px) {
    .logo {
        font-size: 28px;
        font-weight: 900;
        line-height: 47px;
        font-family: 'Work Sans', sans-serif;
    }

    .big-text-under-logo .big-text-header {
        font-size: 36px;
        color: #fff;
        font-family: 'Work Sans', sans-serif;
    }

    .big-text-under-logo .logo-text-r {
        font-size: 36px;
        color: #f42841;
        font-family: 'Work Sans', sans-serif;
    }

    .big-text-under-logo span {
        font-size: 16px;
        font-family: 'Work Sans', sans-serif;
    }

    .main .future {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .future .future-item {
        margin: 0;
    }

    .future-head span {
        font-size: 36px;
    }

    .my-vlog .my-vlog-back {
        padding-top: 10px;
        padding-bottom: 35px;
    }

    .ancet-foto img {
        max-width: 445px;
    }

    .subs-back .sunscribe-info {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .coloboration-text .colob-head-text {
        font-size: 36px;
    }

    .main .slider-show {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.future {
    background-color: rgb(199, 199, 199) ;
    padding-top: 100px;
    padding-bottom: 100px;
}

.future-in {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    padding-bottom: 100px;
}

.future-head {
    display: flex;
    font-size: 56px;
    font-family: Poppins,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    color: #262e3b;
    padding: 30px 5px;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.future-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 60px;
}

.future {
    justify-content: center;
    text-align: center;
}

.future-hr hr {
    width: 75px;
    height: 3px;
    background-color: #f42841;
    align-content: center;
    margin: 1rem auto 1rem auto;
}

.social-n {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.solial-box {
    box-shadow: 0 4px 13px 0 rgb(28 30 30 / 18%);
    border-radius: 5px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

.social-im {
    display: block;
    position: relative;
}

.my-vlog {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.my-vlog-back {
    background: url(../img/vlog-logo.jpeg) fixed no-repeat 0% 43.8% / cover;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
    transition: opacity .3s ease-out;
    padding-top: 90px;
    padding-bottom: 100px;
}

.head-vlog {
    color: #262e3b;
}

.video-on-vlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-vlog {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.content-vlog img {
    object-fit: cover;
    max-width: 90%;
    margin: 0 auto;
}

.footer-vlog {
    margin-top: 70px;
}

.key-vlog {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.key-vlog button {
    padding: 21px 40px;
    font-size: 14px;
    border-radius: 0;
    line-height: 1;
    background-color: #f42841;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
}

.key-vlog a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFF;
}

.key-vlog button:hover {
    background-color: #262e3b;
}

.key-vlog button:hover {
    color: #f42841;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.my-story {
    position: static;
}

.story-block {
    background: url(../img/mystory-back.png) 36.25% 53.4% / cover no-repeat;
    transform: translateZ(0px);
}

.story-content {
    padding-top: 90px;
    padding-bottom: 90px;
}

.containet-story {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.ancet-foto {
    position: relative;
    width: 470px;
    margin: 0 50px 0 0;
    float: left;
}

.ancet-foto img {
    display: block;
    position: relative;
    width: 470px;
    margin: 0 50px 0 0;
    object-fit: contain;
    object-position: 50% 50%;
}

.story-header h2 {
    font-size: 56px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.story-header h2 .logo-text-r {
    color: #f42841;
}

.text-header-story {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-main-story {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    color: #fff;
    font-family: Poppins,sans-serif;
}

.bold-vlog-text {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.show-more-text {
    margin-top: 20px;
}

.text {
    font-size: 16px;
}

.moreText {
    display: none;
}

.text.show-more .moreText {
    display: inline;
}

.readMoreBtn {
    padding: 21px 40px;
    background-color: #f42841;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 14px;
    cursor: pointer;
    line-height: 1;
    margin-top: 15px;
    font-weight: bold;
}

.dots {
    display: inline-block;
}

.text.show-more .dots {
    display: none;
}

.read-more {
    margin-top: 30px;
    text-align: left;
}

#block {
    display: block;
    text-align: left;
}

.subscribers {
    max-width: 100%;
}

.subs-back {
    background: url(../img/subs-back.jpeg) 50% 50% / cover no-repeat fixed;
    transform: translateZ(0px);
}

.sunscribe-info {
    display: flex;
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.socials {
    background-color: #FFF;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 35px;
    width: 200px;
    text-align: left;
    border-radius: 5px;
}

.socials h2 {
    font-size: 56px;
    font-family: 'Work Sans', sans-serif;
    color: #262e3b;
    font-weight: 900;
}

.socia {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    color: #262e3b;
    font-weight: bold;
    line-height: 1.56;
}

.folow {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Saira', sans-serif;
    line-height: 1.33;
    margin-top: 10px;
}

.future-hr-subs hr {
    width: 75px;
    height: 2px;
    background-color: #f42841;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colaboration {
    padding-top: 50px;
}

.colaboration-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.colaboration-head {
    display: flex;
    justify-content: center;
    text-align: left;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

.coloboration-text {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.colob-head-text {
    font-size: 56px;
    font-family: Poppins,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    color: #262e3b;
}

.colob-maintext {
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    color: #262e3b;
    margin-top: 10px;
}

.colob-textfoot {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    color: #707070;
    font-family: Poppins,sans-serif;
}

#colob-btn {
    display: flex;
    justify-content: left;
}

#colob-textfoot {
    margin-top: 60px;
    margin-bottom: 50px;
}

.colaboration-photo {
    flex: 1;
    overflow: hidden;
    position: relative;
    min-width: 400px
}

/*.colaboration-photo {
    background: url(../img/colaboration-photo.jpeg);
    background-size: cover;
    background-position: center;
    object-position: 56.69% 0%;
    max-width: 100%;
    margin-top: -90px;
    margin-bottom: -100px;
    content: "";
}
*/
.colaboration-photo img {
    max-width: 100%;
    max-height: 100%;
}

.slider-show {
    padding-top: 90px;
    padding-bottom: 100px;
    background: #f0f0f0;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

.slide-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider-photo-b {
    padding-right: 10px;
}

.slider-photo-b img {
    height: 145px;
    width: 263px;
    object-fit: cover;
}

.contacts-bloger {
    display: flex;
    justify-content: center;
}

.contacts-contain {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts-info {
    max-width: 450px;
}

.contacts-form {
    max-width: 450px;
}

.form-down {
    background-color: #fff;
    text-align: center;
}

.form-down form {
    max-width: 100%;
}

.form-down-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-down-label input {
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 14px 30px 14px 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    color: #f42841;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

.type-message input {
    height: 150px;
}

.form-down-label-button {
    margin-top: 12px;
    padding: 14px 30px 14px 30px;
    outline: none;
    border: none;
    border: 2px solid var(--color-red);
}

.form-down-label-button button {
    padding: 21px 40px;
    background-color: #f42841;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 14px;
    cursor: pointer;
    line-height: 1;
    margin-top: 15px;
    font-weight: bold;
}
